<!DOCTYPE html>
<html>

{% load static %}
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Pokedex</title>
	<link rel="stylesheet" href="{% static 'css/styles.css' %}" crossorigin="anonymous"/>
	<script src="{% static 'js/pokedex.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
	<div class="pokedex-main" id="pokedex-main">
		<div class="title"><h1> Pokedex </h1></div>
		
		<div class="search-div">
			<input class="search-input" type="text" placeholder="Search pokemon">
			<div class="search-btns">
				<img class="search-filter" src="static/img/search.png" onclick="searchPokemon()"/>
				<img class="search-filter" src="static/img/filter.png" onclick="openFilter()"/>
			</div>
		</div>
		<div class="table" id="pokedex-table">
			<div class="row header">
				<div class="cell-header">Photo</div>
				<div class="cell-header">ID</div>
				<div class="cell-header">Name</div>
				<div class="cell-header">Type</div>
				<div class="cell-header">Height</div>
				<div class="cell-header">Weight</div>
			</div>
			<div id="pokedex-rows">
				{% for pokemon_name, pokemon_data in pokemons.items %}
				<div class="row">
					<div class="cell"><img src="{{pokemon_data.sprite}}" alt="{{pokemon_name | capfirst}}"></div>
					{% if pokemon_data.id < 10 %}
						<div class="cell">#000{{pokemon_data.id}}</div>
					{% elif pokemon_data.id < 100 %}
						<div class="cell">#00{{pokemon_data.id}}</div>
					{% elif pokemon_data.id < 1000 %}
						<div class="cell">#0{{pokemon_data.id}}</div>
					{% else %}
						<div class="cell">#{{pokemon_data.id}}</div>
					{% endif %}
					<div class="cell name">{{pokemon_name | capfirst}}</div>
					<div class="cell column">
						{% for type in pokemon_data.types %}
							<span class="type {{type}}">{{type | upper}}&nbsp</span>
						{% endfor %}
					</div>
					<div class="cell">{{pokemon_data.height}} m</div>
					<div class="cell">{{pokemon_data.weight}} kg</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<span class="not-found" id="not-found">Pokemon not found. Please try again.</span>
		<img id="loading-gif" src="static/img/pokeball_loading.gif" style="width: 100px; display: none;">
		<button class="load button" id="load-button" type="button" onclick="loadMore(url='{{next}}')"> Load more </button>
		<button class="return button" id="return-button" type="button" onclick="location.href='{% url 'index' %}'"> Return </button>

		<div id="filter-modal" class="modal">
			<div class="modal-content">
				<span class="filter-close">&times;</span>
				<div class="filter-types">
					{% for type in types%}
					<div class="filter-checkbox">
						<input name="type-checkbox" type="checkbox" id="{{type}}" value="{{type}}">
						<label for="{{type}}" class="type {{type}}">{{type | upper}}</label><br>
					</div>
					{% endfor %}
				</div>
				<div class="filter-btns">
					<button id="filter-button" class="load button" type="button" onclick="applyFilter()">Apply Filter</button>
				</div>
			</div>  
		</div>
</body>
</html>