<!DOCTYPE html>
<html>

{% load static %}
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Pokedex</title>
	<link rel="stylesheet" href="{% static 'css/styles.css' %}" crossorigin="anonymous"/>
	<script src="{% static 'js/pokedex.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
	<div class="pokedex-main" id="pokedex-main">
		<h1> Pokedex </h1>
		<div class="table" id="pokedex-table">
			<div class="row header">
				<div class="cell-header">Photo</div>
				<div class="cell-header">ID</div>
				<div class="cell-header">Name</div>
				<div class="cell-header">Type</div>
				<div class="cell-header">Height</div>
				<div class="cell-header">Weight</div>
			</div>
			{% for pokemon_name, pokemon_data in pokemons.items %}
			<div class="row">
				<div class="cell"><img src="{{pokemon_data.sprite}}" alt="{{pokemon_name | capfirst}}"></div>
				<div class="cell">{{pokemon_data.id}}</div>
				<div class="cell">{{pokemon_name | capfirst}}</div>
				<div class="cell">{{pokemon_data.types | join:", " }}</div>
				<div class="cell">{{pokemon_data.height}} cm</div>
				<div class="cell">{{pokemon_data.weight}} kg</div>
			</div>
			{% endfor %}
		</div>

		<button class="load-button" id="load-button" type="button" onclick="loadMore(url='{{next}}')"> Load more </button>
	</div>
</body>
</html>